<div class="flex flex-col md:flex-row justify-start md:justify-between mb-6">
    <div class="flex-1 pb-4 md:pb-0 md:pr-4">
        {{#if this.stores.length}}
            <div>
                <h4 class="font-semibold dark:text-gray-50 mb-4">{{pluralize @model.meta.total "Store"}} in your network</h4>
                <p class="dark:text-gray-100">
                    You can organize your network by creating categories and dragging stores into the categories.
                </p>
            </div>
        {{else}}
            <h1 class="font-semibold dark:text-gray-50 mb-4">This network is empty</h1>
            <p class="dark:text-gray-100">
                Grow your network by sending invitations to others to create a storefront or add their existing storefront to your network. Optionally you may also add your own stores to your network to begin.
            </p>
        {{/if}}
    </div>
    <div class="flex items-start">
        <Button @wrapperClass="mr-2 flex-shrink-0" @type="default" @icon="folder" @text="Add Category" @onClick={{fn this.createNewCategory this.network}} />
        <Button @wrapperClass="mr-2 flex-shrink-0" @type="default" @icon="paper-plane" @text="Invite stores" @onClick={{fn this.invite this.network}} />
        <Button @wrapperClass="flex-shrink-0" @type="default" @icon="plus" @iconPrefix="fas" @text="Add stores" @onClick={{fn this.addStores this.network}} />
    </div>
</div>

<EmberDragula @options={{this.dragulaConfig}} @onReady={{this.setDragulaInstance}} as |d|>
    <div>
        <div class="flex items-center mb-6">
            {{#if this.category}}
                <div>
                    <div class="flex items-center mb-3">
                        <FaIcon @prefix="fas" @icon="folder" @size="2x" class="text-blue-400 mr-3" />
                        {{#if this.category.parent_category}}
                            <div class="dark:text-blue-400 flex flex-row items-center">
                                <span class="text-xl font-bold">{{this.category.parent_category.name}}</span>
                                {{#if this.category.parent_category.icon}}
                                    <FaIcon @icon={{this.category.parent_category.icon}} class="ml-1" />
                                {{/if}}
                            </div>
                            <span class="mx-2">
                                <FaIcon @icon="chevron-right" @prefix="fas" class="dark:text-blue-400 -mb-px" />
                            </span>
                        {{/if}}
                        <div class="dark:text-blue-400 flex flex-row items-center">
                            <span class="text-xl font-bold">{{this.category.name}}</span>
                            {{#if this.category.icon}}
                                <FaIcon @icon={{this.category.icon}} class="ml-1" />
                            {{/if}}
                        </div>
                        {{#if this.isLoading}}
                            <div class="ml-2 flex items-center">
                                <Spinner class="mr-2 text-sky-400" />
                                <span class="dark:text-sky-100 text-xs">Loading...</span>
                            </div>
                        {{/if}}
                    </div>
                    <div class="flex items-center">
                        <Button @wrapperClass="mr-2" @icon="long-arrow-alt-left" @text="Back" @onClick={{fn this.leaveCategory this.category.parent_category}} />
                        <Button @wrapperClass="mr-2" @icon="plus" @iconPrefix="fas" @text="Add Sub-Category" @onClick={{fn this.createNewSubCategory this.category}} />
                        <Button @wrapperClass="mr-2" @icon="edit" @text="Edit Category" @onClick={{fn this.editCategory this.category}} />
                        <Button @type="danger" @wrapperClass="mr-4" @icon="trash" @text="Delete Category" @onClick={{fn this.deleteCategory this.category}} />
                    </div>
                </div>
            {{else}}
                <div class="flex items-center">
                    <FaIcon @prefix="fas" @icon="folder" @size="2x" class="text-blue-400 mr-2" />
                    <span class="text-xl font-bold dark:text-blue-400">Top Level</span>
                </div>
                {{#if this.isLoading}}
                    <div class="ml-2 flex items-center">
                        <Spinner class="mr-2 text-sky-400" />
                        <span class="dark:text-sky-100 text-xs">Loading...</span>
                    </div>
                {{/if}}
            {{/if}}
        </div>
    </div>

    {{#if this.category}}
        <div class="grid grid-cols-2 md:grid-cols-3 gap-2 md:gap-4 mb-6">
            {{#each this.subCategories as |category|}}
                <d.Container class="dragula-container network-folder" data-category={{category.id}}>
                    <a href="javascript:;" class="block" {{on "click" (fn this.enterCategory category)}}>
                        <div class="flex items-center justify-center mb-3">
                            <FaIcon @prefix="fas" @icon="folder" @size={{if (media 'isMobile') "4x" "5x"}} class="text-blue-400" />
                        </div>
                        <div class="flex items-center justify-center">
                            <div class="flex flex-col items-center justify-center rounded-md border bg-blue-400 border-blue-400 px-4 py-1 text-center text-blue-100 font-semibold truncate w-40">
                                {{category.name}}
                                {{#each-in category.translations as |lang translation|}}
                                    <div>{{translation.name}}</div>
                                {{/each-in}}
                            </div>
                        </div>
                    </a>
                </d.Container>
            {{/each}}
        </div>
    {{else}}
        <div class="grid grid-cols-2 md:grid-cols-3 gap-2 md:gap-4 mb-6">
            {{#each this.categories as |category|}}
                <d.Container class="dragula-container network-folder" data-category={{category.id}}>
                    <a href="javascript:;" class="block" {{on "click" (fn this.enterCategory category)}}>
                        <div class="flex items-center justify-center mb-3">
                            <FaIcon @prefix="fas" @icon="folder" @size={{if (media 'isMobile') "4x" "5x"}} class="text-blue-400" />
                        </div>
                        <div class="flex items-center justify-center">
                            <div class="flex flex-col items-center justify-center rounded-md border bg-blue-400 border-blue-400 px-4 py-1 text-center text-blue-100 font-semibold truncate w-40">
                                {{category.name}}
                                {{#each-in category.translations as |lang translation|}}
                                    <div>{{translation.name}}</div>
                                {{/each-in}}
                            </div>
                        </div>
                    </a>
                </d.Container>
            {{/each}}
        </div>
    {{/if}}

    <d.Container class="grid grid-cols-2 md:grid-cols-3 gap-2 md:gap-4 {{if this.isLoading 'hidden'}}">
        {{#each this.stores as |store|}}
            <div class="network-store" data-store={{store.id}}>
                <div class="rounded-md border dark:border-gray-800 shadow-sm">
                    <div class="p-4 flex items-center justify-center rounded-t-md h-36" {{background-url store.backdrop_url overlay=true}}>
                        <img src={{store.logo_url}} class="w-32" alt={{store.name}} />
                    </div>
                    <div class="border-t dark:border-gray-800 px-4 py-2">
                        <div class="flex items-center justify-between">
                            <div class="flex-1 dark:text-gray-100 truncate">
                                {{store.name}}
                            </div>
                            <div>
                                <DropdownButton @size="xs" @icon="cog" @iconPrefix="fas" @textClass="block truncate" as |dd|>
                                    <div class="next-dd-menu" aria-orientation="vertical" aria-labelledby="user-menu">
                                        <div class="px-1">
                                            <div class="next-dd-title">
                                                Store Options
                                            </div>
                                        </div>
                                        <div class="next-dd-menu-seperator"></div>
                                        <div class="px-1">
                                            {{!-- <a href="javascript:;" class="next-dd-item" role="menuitem">
                                                <FaIcon @icon="receipt" class="mr-2" />
                                                <span>View orders via network</span>
                                            </a>
                                            <a href="javascript:;" class="next-dd-item" role="menuitem">
                                                <FaIcon @icon="users" class="mr-2" />
                                                <span>View customers via network</span>
                                            </a> --}}
                                            <a href="javascript:;" class="next-dd-item text-danger" role="menuitem" {{on "click" (fn this.dropdownAction dd "removeStore" store this.network)}}>
                                                <FaIcon @icon="vote-nay" class="mr-2 text-red-500" />
                                                <span>Remove store from network</span>
                                            </a>
                                        </div>
                                    </div>
                                </DropdownButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </d.Container>
</EmberDragula>
<div class="mb-96 h-96 block w-full"></div>